.idea
.DS_Store
custom_values

*MSP
*.tx
*.block
crypto-config
*/charts

/channel-artifacts/*.tx
/channel-artifacts/*.block
/crypto-config/*

.DS_Store
MyProd/config/*MSP
MyProd/config/*.tx
MyProd/config/*.block
MyProd/config/MyConfig